body {
    background-color: #FFF8F8;
}

header {
    margin: 0 0 20px 0;
    padding: 0;
}

footer {
    margin: 30px 0 0 0;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

footer i {
    color: #ffffff;
    text-decoration: none;
    font-size: x-large;
}

.navbar-brand {
    font-size: x-large;
}

.navbar-brand i {
    font-size: medium;
}

.sliding {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden
}

.box-small {
    display: block;
    float: left;
    margin: 10px;
    padding: 0;
    width: 190px;
    height: 300px;
}

.box-long {
    display: block;
    margin: 10px;
    padding: 0;
    width: 100%;
    height: 100px;
}

.box-shadowed {
    background-color: white;
    -webkit-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.5);
}

.image-box-small {
    width: 190px;
    height: 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-box-long {
    height: 100px;
    width: 200px;
    margin-right: 20px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-small h5{
    padding: 5px;
}

.box-long h3{
    padding: 5px;
}

.box-small a, .box-long a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 1240px) {
    .sliding {
        width: 100%;
        height: 350px;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .box-small {
        display: inline-block;
        float: none;
        margin: 10px;
        padding: 0;
        width: 190px;
        height: 300px;
    }
}

@media screen and (max-width: 400px){
    .box-long{
        width: 90%;
        height: 250px;
    }
    .box-long h3 {
        font-size: 1.5rem;
    }
    .image-box-long {
        width: 100%;
        height: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}