body {
    background-color: #FFF8F8;
}

header {
    margin: 0 0 20px 0;
    padding: 0;
}

footer {
    margin: 30px 0 0 0;
    padding: 10px;
    text-align: center;
    color: #ffffff;
}

footer i {
    color: #ffffff;
    text-decoration: none;
    font-size: x-large;
}

.navbar-brand {
    font-size: x-large;
}

.navbar-brand i {
    font-size: medium;
}

.sliding {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    overflow: hidden
}

.box {
    padding: 15px;
    margin-bottom: 20px;
}

.box-small {
    display: block;
    float: left;
    margin: 10px;
    padding: 0;
    width: 190px;
    height: 300px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: normal;
}

.box-long {
    display: block;
    margin: 10px;
    padding: 0;
    width: 100%;
    height: 100px;
}

.box-shadowed {
    background-color: white;
    -webkit-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 20px -5px rgba(0,0,0,0.5);
}

.image-box-small {
    width: 190px;
    height: 190px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-box-long {
    height: 100px;
    width: 200px;
    margin-right: 20px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipe-banner {
    width:100%;
    height: 250px;
    margin: 20px 0 20px 0;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)) , var(--image-url) center center;
    background-size: cover;
    color: white;
    font-size: x-large;
    padding: 10px;
}


.box-small h5{
    padding: 5px;
}

.box-long h3{
    padding: 5px;
}

.box-small a, .box-long a {
    text-decoration: none;
    color: black;
}

.box-list li {
    width: 90%;
    padding: 10px;
    border-bottom: 1px solid gray;
    
}

.box-list li:last-child {
    padding: 10px;
    border-bottom: none;
}

ul.box-list {
    list-style-type: none;
    padding-left: 20px;
}

#ingredients label, #directions label{
    display: none;
}



#directions textarea {
    resize: none;
    width: 100%;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 10px;
}

ol#directions  {
    list-style-position: inside;
    padding-left: 10px;
}


.errorlist {
    color: #721c24;
    background-color:#f8d7da;
    border-color:#f5c6cb;
    padding: .25rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    list-style: none;
}

@media screen and (max-width: 1240px) {
    .sliding {
        width: 100%;
        height: 350px;
        padding: 0;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .box-small {
        display: inline-block;
        float: none;
        margin: 10px;
        padding: 0;
        width: 190px;
        height: 300px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: normal;
    }

}

@media screen and (max-width: 400px){
    .box-long{
        width: 90%;
        height: 250px;
    }
    .box-long h3 {
        font-size: 1.5rem;
    }
    .image-box-long {
        width: 100%;
        height: 150px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}