<!-- <header> -->
    <!-- <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark"> -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}">C<i class="fas fa-cookie"></i><i class="fas fa-cookie-bite"></i>kbook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar" style="clear: both">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recipes_newest' %}">Newest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'recipes_popular' %}">Most popular</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in all_categories %}
                        <a class="dropdown-item" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    {% endfor %}
                    </div>
                </li>
                    
            </ul>
            
            {% if user.is_authenticated %}

            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user-circle"></i> {{ user }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'my_favourites' %}">Favourite</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'my_recipes' %}">My recipes</a>
                        <a class="dropdown-item" href="{% url 'my_drafts' %}">My drafts</a>
                        <a class="dropdown-item" href="{% url 'recipe_create' %}">New draft</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                        
                    </div>
                </div>
            </div>
            {% else %}
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'signup' %}">Sign Up</a>
            </div>
            {% endif %}
                
            
        </div>
    </nav>
<!-- </header> -->