{% extends 'base.html' %}
{% load static %}


{% block title_block %}{{ recipe|truncatechars:70 }} | Cookbook{% endblock title_block %}

{% block content_block %}
<div class="container">
    <h1>{{ recipe.title }}</h1>
        
    <div id="categories">
        {% for category in recipe.categories.all %}
            <span class="badge badge-info" style="font-size: medium;">{{ category }}</span>
        {% endfor %}
    </div>
    
    {% if recipe.photo %}
        <a href="{{ recipe.photo.url }}" target="_blank">
            <div class="recipe-banner" style="--image-url: url({{ recipe.photo.url }});">
                <i class="fas fa-search-plus"></i>
            </div>
        </a>
    {% else %}
        <div class="recipe-banner" style="--image-url: url('{% get_media_prefix %}no-image.png');"></div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div style="text-align: center;" class="box box-shadowed">
                <a style="width: 32%" class="btn btn-primary" href="{% url 'recipe_edit' recipe.pk %}" role="button">Edit</a>
                <a style="width: 32%" class="btn btn-outline-primary" href="{% url 'recipe_publish' recipe.pk %}" role="button">Publish</a>
                <a style="width: 32%" class="btn btn-outline-danger" href="{% url 'recipe_delete' recipe.pk %}" role="button">Delete</a>
            </div>
                
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="box box-shadowed">
                <h3>Description:</h3>
                {% if recipe.description %}
                    <div class="description">
                        {{ recipe.description|linebreaks }}
                    </div>
                {% endif %}
            </div>
                
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="box box-shadowed">
                <h3>Ingredients:</h3>
                <ul class="box-list">
                {% for ingredient in recipe.ingredients_list %}
                    <li>{{ ingredient.desc }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="box box-shadowed">
                <h3>Directions:</h3>
                <ol class="box-list">
                {% for direction in recipe.directions_list %}
                    <li>{{ direction.desc }}</li>
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
</div>    
{% endblock content_block %}