{% extends 'base.html' %}
{% load static %}


{% block title_block %}{{ recipe|truncatechars:70 }} | Cookbook{% endblock title_block %}

{% block content_block %}
<div class="container">
    <h1>
        {% if user.is_authenticated %}
            {% if is_liked %}
                <i id="favourite-btn" class="fas fa-star fa-sm"></i>
            {% else %}
                <i id="favourite-btn" class="far fa-star fa-sm"></i>
            {% endif %}
        {% endif %}
        {{ recipe.title }} 
    </h1>
        
    <div id="categories">
        {% for category in recipe.categories.all %}
            <span class="badge badge-info" style="font-size: medium;">{{ category }}</span>
        {% endfor %}
    </div>
    
    {% if recipe.photo %}
        <a href="{{ recipe.photo.url }}" target="_blank">
            <div class="recipe-banner" style="--image-url: url({{ recipe.photo.url }});">
                <i class="fas fa-search-plus"></i>
            </div>
        </a>
    {% else %}
        <div class="recipe-banner" style="--image-url: url('{% get_media_prefix %}no-image.png');"></div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-shadowed">
                <i class="fas fa-user-circle"></i> <a href="{% url 'recipes_by_user' recipe.author.pk %}">{{ recipe.author }} </a><br>
                <i class="fas fa-clock"></i> {{ recipe.pub_date }} <br>
                <i class="fas fa-heart"></i> {{ recipe.like_count }}
                
                {% if recipe.description %}
                    <div class="description">
                        {{ recipe.description|linebreaks }}
                    </div>
                {% endif %}
                    
            </div>
                
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="box box-shadowed">
                <h3>Ingredients:</h3>
                <ul class="box-list">
                {% for ingredient in recipe.ingredients_list %}
                    <li>{{ ingredient.desc }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div class="box box-shadowed">
                <h3>Directions:</h3>
                <ol class="box-list">
                {% for direction in recipe.directions_list %}
                    <li>{{ direction.desc }}</li>
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-shadowed" id="comments">
                <h3>Comments:</h3>
                
                {% if user.is_authenticated %}
                    <form id="comment-form" action="{% url 'add_comment' recipe.pk %}" method="post">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="submit" value="Add comment"></input>
                        
                    </form>
                {% endif %}
                
                <div id="comment-list">
                {% for comment in recipe.comments.all %}
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ comment.text }}</p>
                            <footer class="blockquote-footer">{{ comment }}</footer>
                        </blockquote>
                        </div>
                    </div>
                {% empty %}
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>No comments yet!</p>
                        </blockquote>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div id="comment_empty" style="display: none;">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>__comment_text__</p>
                            <footer class="blockquote-footer">__comment_footer__</footer>
                        </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $("#favourite-btn").click(function(){
            $(this)
                .removeClass()
                .addClass("fas fa-spinner fa-pulse fa-sm");
            $.get("{% url 'favourite_toggle' recipe.pk %}")
            .done(function(data){
                if (data['created']){
                    $("#favourite-btn")
                        .removeClass()
                        .addClass("fas fa-star fa-sm");
                } else {
                    $("#favourite-btn")
                        .removeClass()
                        .addClass("far fa-star fa-sm");
                }
            })
            .fail(function(data, status, errorThrown){
                alert("Oops! Something went wrong!\nStatus: " + errorThrown);
                $("#favourite-btn")
                    .removeClass()
                    .addClass("fas fa-exclamation-circle");
            });
        }); 

        $("#comment-form").submit(function(event){
            event.preventDefault()
            console.log("submitted");

            var form = $(this);

            $.post(
                "{% url 'add_comment' recipe.pk %}",
                form.serialize()
            )
            .done(function(data){
                var empty_comment = $('#comment_empty').html();
                empty_comment = empty_comment.replace(/__comment_text__/g, data['comment']['text']);
                empty_comment = empty_comment.replace(/__comment_footer__/g, data['comment']['title']);
                $('#comment-list').prepend(empty_comment);
                form[0].reset();
            });
        });
    </script>
</div>    
{% endblock content_block %}